.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
}
.navbar h3{
font-size: 2.2rem;
margin-bottom: 10px;
}
.nav_App{
  display: flex;
  list-style: none;
  gap: 25px;
  font-weight: 600;
  color: #475569;
  cursor: pointer;
}
.hero{
  background-color: #e2e8f0;
  padding: 50px 40px;
  border-radius: 12px;
  margin-bottom: 50px;
}
.shop-btn{
  background-color: #1e293b;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.products-section h2 {
  margin-bottom: 25px;
  font-size: 1.8rem;
}

.PRODUCTS {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}
.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.category {
  color: #94a3b8;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.description {
  color: #64748b;
  font-size: 0.95rem;
  margin-bottom: 25px;
  flex-grow: 1;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
}

.view-btn {
  background-color: #0f172a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}